body {
  font-size: 36px;
}

body > div.slides {
  margin-top: 0;
}

a::before {
	content: none;
}
a::after {
	content: none;
}
a {
	font-family: inherit;
}

header {
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.level2.single > * {
  flex: none;
}